/* estilos de la pagina general*/
body{
    margin: 0;
    width: auto;
    text-align: center;
    font-family: "inherit";
    background-color: rgb(250, 250, 247);
  }

  /*responsive*/
  
  

  
  /* estilos de la cabezera y menu de navegacion*/
  header{
    width: 100%;
    background-color:#212529;
  
  }
 
  header nav {
    width:100%;
    max-width:1000px;
    margin:40px auto;
  }
 
 
  header nav ul {
    overflow:hidden;
    list-style:none;
  }

  header nav ul li {
    float:left;
   
  }
   
  header nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
  }
   
   
  header nav ul li a:hover {
    background:gray;
  }
   
  
#nav-right ul li a:hover {
    color: #EA8A95;
  }

  /*menu responsive*/
   
  @media screen and (max-width:400px ) {
    header nav {
      width:100%;
      height:100%;
      position: fixed;
    }
   
    header nav ul li {
      display:block;
     
      border-bottom:1px solid rgba(255,255,255, .3);
    }
   
  }

  
  
  /*Estilos del div de presentacion*/
  #presentacion{
 
  justify-content: center;
    width: auto;
    padding-top: 6.25em;
    height: 45em;
    
  }
  .foto{
    width: 15em;
    border-radius: 50%;
  }
  
  h1{
    width: auto;
    font-family:inherit;
    font-size: 4.5em;
    color: #3e3e3e;
  }

  .claro{
    color: #747272;
    font-family:inherit;
  }

  h2{
    width: auto;
    font-size: 2.5em;
    font-family: inherit;
    color: #3e3e3e;
    font-weight: normal;
  }
  
  .btn{
    width: 20em;
    height: 5em;
    background-color:#EA8A95 ;
    border-radius: 0.35em;
    margin-top:4em ;
   
  }
   .texto{
     
     font-family:inherit;
     font-size: 1.5em;
     color: white;
   }


/*Estilos de trabajos destacados*/

  .title{
    margin: 2em 0 5em;
    font-size: 2.5em;
    font-family: inherit;
    color: #3e3e3e
  }

  
  .proyectos {
    display: flex;
    justify-content: center 
}



.pro {
  cursor: default;
  display: block;
  padding: 40px 30px;
  background-color: var(--color-gray);
  border: 1px solid;
  border-color: #5a5a5a;
}
#img-caja{
  width: 500px;
  height: 500px;
  filter: grayscale(200%);
  object-fit: cover;
}
#img-caja:hover{  
   filter: none;
   transition: all 0.5s;
   border-color: var(--color-gray-dark-2);
   cursor: pointer;  
   /* transform: scale(1.14); */
}

/* ----- MediaS ----- */
 @media screen and (max-width:600px ) {
  
    
    .proyectos{
       display: flex;
       flex-direction: column;
    }
    

    .caja{
        
         width: 100%; 
         height: 600px; 
        margin-left: 20px;
      
        margin-right: 2em;
    }
    .img-caja{
     
    }
       
    /*.pro{
         display: inline-block; 
         width: 500px; 
         height: 600px;
        margin-bottom: 100px; 
    }*/

}
 



  /*Estilos pie de pagina*/
  #footer{
    justify-content: center;
    width: auto;
    font-family: inherit;
    font-size: 1.5em;
  }
  
  a{
    color:#3e3e3e ;
    font-family: inherit;
    margin: 0.6em 1.2em;
    text-decoration: none;
  }
  
  a:hover {
    color: #EA8A95;
  }
  
  .copyright{
    color: #3e3e3e;
    font-size: 0.8em;
    padding: 0.6em 0;
  }

  /* estilos sobre mi*/
  .intro{
    padding-top: 1em;
    font-size: 2em;
  }

  .titulo{
    padding-top: 2em;
  }

  .skill-row{
    width: 50%;
    margin: 4.3em auto 4.3em auto;
    text-align: left;
  }

  .objetivos{
    font-size: 2em;
  }
  .full{
text-align: center;
  }
  .skills-img{
    width: 25%;
    height: 15em;
    float: left;
    margin-right: 1.8em;
  }

  /*Estilos formulario contacto*/

  body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}


label{
    display: block; 
    float: center;  
}


button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;     
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;    
    width: 420px;   
    cursor: pointer;
}


button p{
    color: #fff; 
}

  
  